.pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 60%;
  @include respond(tablet) {
    width: 80%;
  }

  .page-card {
    display: flex;
    border: 1px solid #d3d3d3;
    border-bottom: 0;
    padding: 10px;
    @include respond(tablet) {
      flex-wrap: wrap;
    }

    figure {
      text-align: center;
      flex-basis: 200px;
    }
    .teaser-text {
      flex: 1;
      padding: 10px;
      @include respond(mobile) {
        text-align: center;
      }
    }
    figure,
    .teaser-text {
      .teaser-text-title {
        margin-top: 5px;
        font-size: larger;
        font-weight: bolder;
      }
    }
    .last-div {
      justify-content: unset;
      border: 1px solid #d3d3d3;
      padding: 10px;
      span {
        text-align: left;
      }
    }

    &:last-of-type {
      border-bottom: 1px solid #d3d3d3;
    }
  }
}
