.pages > * {
  margin: 1em 5%;
}
.pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
  @include respond(tablet) {
    width: 80%;
  }

  .page-card {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 20px;
    margin-bottom: 20px;
    @include respond(tablet) {
      flex-wrap: wrap;
    }

    figure {
      text-align: center;
      flex-basis: 200px;
    }
    .teaser-text {
      flex: 1;
      @include respond(mobile) {
        text-align: center;
      }
    }
    figure,
    .teaser-text {
      .teaser-text-title {
        margin-top: 15px;
        font-size: larger;
        font-weight: bolder;
      }
    }
  }
}
